In [1]:
x=22
print(x)
type(x)

22

int

In [2]:
x=10
a=x+5
print(a)
b=x-5
print(b)
c=x*5
print(c)
d=x/5
print(d)

15
5
50
2.0

In [3]:
x=10
x+=1
print(x)
x*=2
print(x)

11
22

In [4]:
x=22.22
print(x)
type(x)

22.22

float

In [5]:
x=20.5
a=x+5
print(a)
b=x-5
print(b)
c=x*5
print(c)
d=x/5
print(d)

25.5
15.5
102.5
4.1

In [6]:
x=20.5
x+=1
print(x)
x*=2
print(x)

21.5
43.0

In [9]:
t=2
f=3
print (t>f)
type(t)
type(f)

False

int

In [11]:
t=2
f=3
if t>1 and f>1: 
    print(True)
else:
    print(False)
    
if t>2 or f>2:
    print(True)
else:
    print(False)
    
print (t is not f)

if t!=f: 
    print(True)
else:
    print(False)

True
True
True
True

In [12]:
s='hello world'
u='jupyter'
print(s)
print(len(s))
print(u)
print(len(u))

hello world
11
jupyter
7

In [13]:
su=s+u
print(su)
print(len(su))

hello worldjupyter
18

In [29]:
su=s+u
su2=su.capitalize()
su3=su.upper()
su4=su.lower()
su5=su.rjust(20,"D")
su6=su.center(22)
su7=su.replace("hello", "hi")
su8=su.strip("jupyter")
print(su2)
print(su3)
print(su4)
print(su5)
print(su6)
print(su7)
print(su8)

Hello worldjupyter
HELLO WORLDJUPYTER
hello worldjupyter
DDhello worldjupyter
  hello worldjupyter
hi worldjupyter
hello world

In [33]:
xs=['t', 'r', 'a', 'n', 'g', 'u', 'y', 'e']
print(xs[1])
print(xs[-1])

r
e

In [34]:
xs[2]='d'
print(xs)

['t', 'r', 'd', 'n', 'g', 'u', 'y', 'e']

In [35]:
xs.append("u")
print(xs)

['t', 'r', 'd', 'n', 'g', 'u', 'y', 'e', 'u']

In [36]:
xs.pop(-1)
print(xs)

['t', 'r', 'd', 'n', 'g', 'u', 'y', 'e']

In [53]:
l=["d", "u", "o", "n", "g"]
print(l[1:4])
print(l[1:])
print(l[:3])
print(l)
l[1:4]='t', 'r', 'a'
print(l)

['u', 'o', 'n']
['u', 'o', 'n', 'g']
['d', 'u', 'o']
['d', 'u', 'o', 'n', 'g']
['d', 't', 'r', 'a', 'g']

In [58]:
l=["d", "u", "o", "n", "g"]
for i in range(len(l)):
    print(l[i])

d
u
o
n
g

In [59]:
l=["d", "u", "o", "n", "g"]
for x, y in enumerate(l):
    print(x, y)

0 d
1 u
2 o
3 n
4 g

In [87]:
nums=[0, 1, 2, 3, 4]
squares=[]
for i in nums:
    squares.append(i*2)
print(squares)

[0, 2, 4, 6, 8]

In [88]:
nums=[0, 1, 2, 3, 4]
squares=[i*2 for i in nums]
print(squares)

[0, 2, 4, 6, 8]

In [90]:
nums=[0, 1, 2, 3, 4]
even_squares = [i for i in nums if i % 2 == 0]
print(even_squares)

[0, 2, 4]

In [93]:
L={'one': 1, 'two': 2}
print(L["one"])
if 'two' in L.keys():
    print(True)
else: 
    print(False)

1
True

In [97]:
L.update({'three':3})
print(L)

{'one': 1, 'two': 2, 'three': 3}

In [103]:
L.pop("three", None)
print(L)

{'one': 1, 'two': 2}

In [109]:
for i in L:
    print (i, L[i])
for x, y in L.items():
    print (x, y)

one 1
two 2
one 1
two 2

In [110]:
n=[0, 2, 4, 6, 8]
n2=[i*2 for i in n]
z=dict(zip(n, n2))
print(z)

{0: 0, 2: 4, 4: 8, 6: 12, 8: 16}

In [113]:
s={"A", "B", "C"}
print("A" in s)
print("D" in s)

True
False

In [114]:
s.add("E")
print(s)

{'B', 'A', 'E', 'C'}

In [115]:
s.remove("B")
print(s)

{'A', 'E', 'C'}

In [116]:
for i, v in enumerate(s):
    print(i, v)

0 A
1 E
2 C

In [120]:
t=(1, 2, 3, 4)
l2=list(t)
l2[2]=5
t=tuple(l2)
print(t)

(1, 2, 5, 4)

In [125]:
def sum_of_list(x):
  tong = 0
  for i in x:
    tong = tong + i
  return tong

l3 = [1, 2, 3, 4, 5]
print (sum_of_list(l3))

15

In [134]:
def tc(qua, x = "là quả gì?"):
    print(qua +' '+ x)

tc("Tao")
tc("Le","bị hư rồi!")

Tao là quả gì?
Le bi hu roi!